@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;

    --color-primary-default: #134dcd;
    --color-primary-hover: #1043b1;
    --color-primary-active: #0d358c;
    
    --color-secondary-default: #000000;
    --color-secondary-hover: #4b4d4c;
    --color-secondary-active: #807e7e;
    
    --color-tertiary-default: #6b7280;
    --color-tertiary-hover: #4b5563;
    --color-tertiary-active: #374151;
}
  
.dark {
    --background-color: #0a0f24;

    --color-secondary-default: #D88B09;
    --color-secondary-hover: #d97706;
    --color-secondary-active: #b45309;
}

html {
    background-color: var(--background-color);
}
body{
    background-color: var(--background-color);
    transition: background-color 0.7s;
}